html, body {
    height: 100%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.calcBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 20px;
    border: 3px solid orangered;
}

.calcScreen {
    width: 400px;
    height: 100px;
    text-align: right;
    background-color: white;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid orangered;
}

.fullOperation {
    height: 60%;
    font-size: 40px;
}

.currentOperation {
    height: 40%;
}

.calcInputs {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.editButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.edt {
    border-radius: 20px;
    border: 3px solid orangered;
    padding: 10px;
    font-size: x-large;
}

.edt:hover {
    background-color: orange;
    cursor: pointer;
}

.edt:active {
    background-color: #fcaa8c;
}

.extra {
    background-color: orangered;
    color: white;
    font-size: x-large;
}

.mainButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    border-radius: 20px;
    border: 3px solid orangered;
    padding: 10px;
    font-size: x-large;
}

.btn:hover {
    background-color: orange;
    cursor: pointer;
}

.btn:active {
    background-color: #fcaa8c;
}