html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.calcBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    border: 3px solid orangered;
}

.calcScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 100px;
    text-align: right;
    background-color: white;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 3px solid orangered;
}

.calcInputs {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.editButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.edt {
    border-radius: 10px;
    border: 3px solid orangered;
    padding: 10px;
}

.extra {
    background-color: orangered;
    color: white;
}

.mainButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    border-radius: 10px;
    border: 3px solid orangered;
    padding: 10px;
}